<div>
    <div class="header-bg">
        <ins class="header_shadow" id="header_shadow"></ins>
    </div>
    <header class="my-head" id="header">
        <div class="width">
            <div id="top" class="top cf">
                <div class="top_l" ng-controller="StatInfoCtrl">
                    <a href="#" class="logo"><img src="views/main/img/logo.png" alt="CJCLUB.ru" title="CJCLUB.ru"
                                                  width="147"
                                                  height="79"/></a>

                    <div class="t_counts cf" ng-cloak>
                        <div class="t_counts__item t_counts_item_3">{{stat.users}}</div>
                        <div class="t_counts__item t_counts_item_1">{{stat.tracks}}</div>
                        <a class="t_counts__item t_counts_item_2">{{stat.projects}}</a>
                    </div>
                </div>
                <div class="top_c">
                    <player-ui></player-ui>
                </div>

                <!-- user section -->
                <div class="top_r">

                    <!-- enter reg (no logined) -->

                    <div class="enter_reg hide">
                        <div id="btn_enter" class="f_btn enter_reg_btn">Регистрация</div>
                        <div id="btn_reg" class="f_btn enter_reg_btn" onclick="$('#popup_auth').fadeToggle();">Войти
                        </div>
                    </div>

                    <form class="popup popup_auth center hide" id="popup_auth">
                        <input type="text" value="" placeholder="Логин" class="f_text"/>
                        <input type="password" value="" placeholder="Пароль" class="f_text"/>
                        <input type="submit" value="Войти" class="f_btn"/>

                        <div class="save_me"><input type="checkbox" name="save" id="save" value="1"/><label for="save">Запомнить
                            меня</label></div>
                        <div class="f_links">
                            <a>Забыли пароль?</a>
                            <a>Регистрация</a>
                        </div>
                    </form>

                    <ng-include src="'views/main/includes/userCorner.html'"></ng-include>

                </div>

            </div>

            <div id="topmini" class="top cf">
                <header-opener></header-opener>
                <a class="logo_mini" href="./"><img src="views/main/img/logo_mini.png" alt="CJCLUB.ru" title="CJCLUB.ru"
                                                    width="146"
                                                    height="45"/></a>

                <div class="top_c">
                    <player-ui data-tpl="player-mini.html"></player-ui>
                </div>
                <playlist-ui></playlist-ui>

                <!-- user section -->
                <div class="top_r">

                    <div class="user">
                        <div class="user_line cf">
                            <img class="user_img" src="views/main/img/ava.jpg" alt="" title="" width="32" height="32"/>

                            <div class="user_right">
                                <!-- user menu -->
                                <div class="user_menu cf">
                        <span class="user_menu_item1 user_sett"
                              onclick="$('#popup_user_menu1').fadeToggle(300);"></span>
                                    <a class="user_menu_item user_exit"></a>
                                </div>

                                <ul id="popup_user_menu1" class="popup popup_user_menu1 hide">
                                    <li><a class="user_menu_1">Что нового?</a> <a href="#link2"
                                                                                  class="user_menu_cogwheel"><img
                                            src="views/main/img/ico_cogwheel.png" alt="" title=""></a></li>
                                    <li><a class="user_menu_2">Центр управления</a></li>
                                    <li><a class="user_menu_3">Платные услуги</a></li>
                                    <li><a class="user_menu_4">Мои аудиозаписи</a>
                                        <a class="user_menu_5">Мои альбомы</a>
                                        <a class="user_menu_6">Избранные треки</a></li>
                                    <li><a class="user_menu_7">Мои блоги</a>
                                        <a class="user_menu_8">Избранные блоги</a></li>
                                    <li><a class="user_menu_9">Мои файлы</a></li>
                                    <li><a class="user_menu_10">Мои друзья</a></li>
                                    <li><a class="user_menu_11">Мои фотоальбомы</a></li>
                                    <li><a class="user_menu_12">Профиль</a>
                                        <a class="user_menu_13">Оформление</a>
                                        <a class="user_menu_14">Настройки</a></li>
                                </ul>

                            </div>

                            <div class="user_name"><span class="user_name__text1"
                                                         onclick="$('#popup_user1').fadeToggle();">Dj Kazak</span></div>

                            <!-- popup messages -->
                            <div class="popup popup_user hide" id="popup_user1">
                                <ul class="popup_user_list">
                                    <li>
                                        <a class="popup_user_list__img"><img src="views/main/img/popup_user_1.png"
                                                                             alt="" title=""/></a>
                                        <a class="popup_user_list__name" title="fadeToggle">fadeToggle</a>
                                        <a class="user_stat user_stat_1">pro</a>
                                    </li>
                                    <li>
                                        <a class="popup_user_list__img"><img src="views/main/img/popup_user_2.png"
                                                                             alt="" title=""/></a>
                                        <a class="popup_user_list__name" title="LastLife">LastLife</a>
                                        <a class="user_stat user_stat_1">pro</a>
                                    </li>
                                    <li>
                                        <a class="popup_user_list__img"><img src="views/main/img/popup_user_1.png"
                                                                             alt="" title=""/></a>
                                        <a class="popup_user_list__name" title="Dj Kazzzazzzzk">Dj Kazzzzzzazzzzk</a>
                                        <a class="user_stat user_stat_1">pro</a>
                                    </li>
                                </ul>
                            </div>

                            <!-- messages -->
                            <div class="user_messages">
                                <div class="user_messages_line">
                                    <span class="ico5 ico5_letter"
                                          onclick="$('#popup_messages1').fadeToggle(300);">12</span>
                                </div>
                                <!-- popup messages -->
                                <div class="popup popup_messages hide" id="popup_messages1">
                                    <div class="popup_messages_list">
                                        <div class="mess_pk"><a>Личные сообщения (12)</a></div>
                                        <div class="mess_comm">
                                            Новые комментарии (<a>23</a>)

                                            <div class="mess_title">К вашим материалам:</div>
                                            <ul class="mess_list">
                                                <li><a class="ico_minus">Треки (0)</a></li>
                                                <li><a class="ico_minus">Блоги (0)</a></li>
                                                <li><a class="ico_minus">Стена (0)</a></li>
                                            </ul>

                                            <div class="mess_title">К подпискам:</div>
                                            <ul class="mess_list">
                                                <li><a class="ico_minus">Треки (0)</a></li>
                                                <li><a class="ico_minus">Блоги (0)</a></li>
                                                <li><a class="ico_minus">Стена (0)</a></li>
                                            </ul>

                                            <div class="mess_title">Другое</div>
                                            <ul class="mess_list">
                                                <li><a class="ico_minus">Ответы на ваши комментарии (0)</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </div>

            <!-- navigation -->


        </div>
        <jplayer data-auto-next="true"></jplayer>
    </header>
</div>