<div class="player" ng-show="isTrackSet()" >

	<!-- left small btns -->
	<div class="player_changer_left">
		<div class="player_changer__item brl7"><span class="player_changer__item_text act">Плеер</span></div>
		<div class="player_changer__item brl7"><span class="player_changer__item_text">Радио</span></div>
		<div class="player_changer__item brl7"><span class="player_changer__item_text2">Low</span><span class="player_changer__item_text2 player_changer__item_text_border act">Hi</span></div>
	</div>

	<!-- composition controls -->
	<div class="composition_b">
		<div class="composition cf">
			<div class="track_image">
				<img title="" alt="" src="http://cjclub.ru/_files/trackpics/{{track.id}}_60" width="68" height="60" />
				<div class="track_image__controls">
					<a ng-click="togglePlay()" ng-class="{cover_play: !isPlaying(), cover_pause: isPlaying()}" ></a>
					<a class="cover_plus" ></a>
				</div>
			</div>

			<div class="composition__c" >
				<div class="composition__title"><a >{{track.project}}</a></div>
				<div class="composition__title"><a >{{track.name}}</a></div>
				<div class="composition__data">Track | {{track.style}} | {{track.timelengthStr}} | {{track.filesizeStr}}</div>
			</div>

			<div class="sound_control">
				<div class="sound_control_mute" ng-click="toggleMute()"></div>
				<div class="sound_control_slider sound_control_slider_sm"></div>
			</div>

			<div ng-click="seekAndPlay($event)" class="track_vision player_visio" style="background:url(http://www.cjclub.ru/_files/waves/{{track.id}}.png) no-repeat;">
				<div ng-if="0" class="track_vision_in" style="background-image:url(views/main/img/new_track_vision_g.png); width:75%;"></div>
				<div class="track_vision_in" style="background-image:url(http://www.cjclub.ru/_files/waves/{{track.id}}.png); width:{{playInfo.playprogress}}%;"></div>
			</div>

		</div>
		<div ng-if="0" id="playlist_opener" class="playlist_opener"><span class="dot">Плейлист Избранное</span> (103)</div>

		<!-- playlist -->
		<div class="playlist brb22" id="playlist">
			<div class="playlist_charts">
				<a  class="playlist_chart">Популярные треки</a>
				<a  class="playlist_chart">Лучшие треки недели</a>
				<a  class="playlist_chart">Избранные</a>
			</div>

			<div class="playlist_holder">

				<div class="playlist_content" id="playlist_content">

					<ul class="playlist_list" id="playlist_list">
						<li class="playlist_item cf">
							<ins class="draggable"></ins>
							<img src="views/main/img/pl1.png" alt="" title="" class="playlist_item__cover" />
							<div class="playlist_item__data">
								<a  class="playlist_item__data__link">DJ M.E.G. - Sock-holm</a>
								<div class="playlist_item__data__data">Track | Progressive | 05:30 | 9.44 MB</div>
							</div>
							<div class="mini_player cf">
								<div class="mini_player_btn mini_player_play"></div>
								<div class="mini_player_btn mini_player_md"></div>
								<div class="mini_player_btn mini_player_mu"></div>
								<div class="mini_player_btn mini_player_re"></div>
							</div>
						</li>

						<li class="playlist_item cf">
							<ins class="draggable"></ins>
							<img src="views/main/img/pl2.png" alt="" title="" class="playlist_item__cover" />
							<div class="playlist_item__data">
								<a  class="playlist_item__data__link">DJ M.E.G. - Sock-holm</a>
								<div class="playlist_item__data__data">Track | Progressive | 05:30 | 9.44 MB</div>
							</div>
							<div class="mini_player cf">
								<div class="mini_player_btn mini_player_play"></div>
								<div class="mini_player_btn mini_player_md"></div>
								<div class="mini_player_btn mini_player_mu"></div>
								<div class="mini_player_btn mini_player_re"></div>
							</div>
						</li>

						<li class="playlist_item cf">
							<ins class="draggable"></ins>
							<img src="views/main/img/pl1.png" alt="" title="" class="playlist_item__cover" />
							<div class="playlist_item__data">
								<a  class="playlist_item__data__link">DJ M.E.G. - Sock-holm</a>
								<div class="playlist_item__data__data">Track | Progressive | 05:30 | 9.44 MB</div>
							</div>
							<div class="mini_player cf">
								<div class="mini_player_btn mini_player_play"></div>
								<div class="mini_player_btn mini_player_md"></div>
								<div class="mini_player_btn mini_player_mu"></div>
								<div class="mini_player_btn mini_player_re"></div>
							</div>
						</li>

						<li class="playlist_item cf">
							<ins class="draggable"></ins>
							<img src="views/main/img/pl2.png" alt="" title="" class="playlist_item__cover" />
							<div class="playlist_item__data">
								<a  class="playlist_item__data__link">DJ M.E.G. - Sock-holm</a>
								<div class="playlist_item__data__data">Track | Progressive | 05:30 | 9.44 MB</div>
							</div>
							<div class="mini_player cf">
								<div class="mini_player_btn mini_player_play"></div>
								<div class="mini_player_btn mini_player_md"></div>
								<div class="mini_player_btn mini_player_mu"></div>
								<div class="mini_player_btn mini_player_re"></div>
							</div>
						</li>

						<li class="playlist_item cf">
							<ins class="draggable"></ins>
							<img src="views/main/img/pl2.png" alt="" title="" class="playlist_item__cover" />
							<div class="playlist_item__data">
								<a  class="playlist_item__data__link">DJ M.E.G. - Sock-holm</a>
								<div class="playlist_item__data__data">Track | Progressive | 05:30 | 9.44 MB</div>
							</div>
							<div class="mini_player cf">
								<div class="mini_player_btn mini_player_play"></div>
								<div class="mini_player_btn mini_player_md"></div>
								<div class="mini_player_btn mini_player_mu"></div>
								<div class="mini_player_btn mini_player_re"></div>
							</div>
						</li>

						<li class="playlist_item cf">
							<ins class="draggable"></ins>
							<img src="views/main/img/pl2.png" alt="" title="" class="playlist_item__cover" />
							<div class="playlist_item__data">
								<a  class="playlist_item__data__link">DJ M.E.G. - Sock-holm</a>
								<div class="playlist_item__data__data">Track | Progressive | 05:30 | 9.44 MB</div>
							</div>
							<div class="mini_player cf">
								<div class="mini_player_btn mini_player_play"></div>
								<div class="mini_player_btn mini_player_md"></div>
								<div class="mini_player_btn mini_player_mu"></div>
								<div class="mini_player_btn mini_player_re"></div>
							</div>
						</li>
					</ul>
				</div>

				<div class="playlist_scroll" id="playlist_scroll"></div>
			</div>
			<div class="playlist_closer" onclick="$('#playlist').slideToggle(300);"><span class="dot">Свернуть</span></div>
		</div>
	</div>
	<!-- right small btns -->
	<div class="player_changer_right">
		<div class="player cf">
			<div class="player_changer__item brr7"><a class="player_ico" ng-click="togglePlay()" ng-class="{player_play: !isPlaying(), player_pause: isPlaying()}">{{track.count_listen}}</a></div>
			<div class="player_changer__item brr7"><a class="player_ico player_dwnl">{{track.count_download}}</a></div>
			<div class="player_changer__item brr7"><a class="player_ico player_like">{{track.count_liked}}</a></div>
		</div>
	</div>
</div>