<div ng-show="isTrackSet()">
	<!--Template: player-mini | Directive: playerUI -->
	<div class="pl_c">
		<div class="pleer_changer pl_act cf">  <!-- rd_act -->
			<div class="pleer">Плеер</div>
			<div class="radio">Радио</div>
		</div>
		<div id="playlist_opener" class="playlist_opener_mini" data-ng-click="playlist.togglePlaylist()"><span
				class="dot1">Плейлист Избранное</span> ({{playlist.tracks.length}})
		</div>
	</div>

	<div class="pl_player">
		<div class="ico5 ico5_prev"
			 data-ng-disabled="isRadio || !playlist.hasPrev(track.id)"
			 data-ng-click="prev(track.id)"></div>
		<a class="ico5" data-ng-click="togglePlay()"
		   data-ng-disabled="isRadio"
		   data-ng-class="{ico5_play: !isPlaying(), ico5_pause: isPlaying()}"></a>

		<div class="ico5 ico5_next"
			 data-ng-disabled="isRadio || !playlist.hasNext(track.id, true)"
			 data-ng-click="next(track.id)"></div>
		<div class="ico5 ico5_down"></div>
	</div>

	<div data-ng-click="seekAndPlay($event)" class="track_vision player_visio player_visio_sm fl">
		<waveform></waveform>
	</div>


	<div class="pl_name fl">
		<a class="pl_name1">{{track.project || '&nbsp;'}}</a>
		<a class="pl_name2">{{track.name}}</a>
	</div>
	<sound-control data-orientation="horizontal" data-tpl="mini-sound-control.html"></sound-control>
</div>