<div class="player" ng-show="isTrackSet()" >

	<!-- left small btns -->
	<div class="player_changer_left">
		<div class="player_changer__item brl7"><span class="player_changer__item_text" data-ng-class="{act: !isRadio()}" data-ng-click="stopRadio()">Плеер</span></div>
		<div class="player_changer__item brl7"><span class="player_changer__item_text" data-ng-class="{act: isRadio()}" data-ng-click="playRadio()">Радио</span></div>
		<div class="player_changer__item brl7">
			<span class="player_changer__item_text2" data-ng-click="setRadioHighBitrate(false)" data-ng-class="{act: !radioBitrateHigh() && isRadio()}">Low</span>
			<span class="player_changer__item_text2 player_changer__item_text_border" data-ng-class="{act: radioBitrateHigh() && isRadio()}" data-ng-click="setRadioHighBitrate(true)">Hi</span>
		</div>
	</div>

	<!-- composition controls -->
	<div class="composition_b">
		<div class="composition cf">
			<div class="track_image">
				<img title="" alt="" src="/_files/trackpics/{{track.id}}_60" width="68" height="60" />
				<div class="track_image__controls">
					<a data-ng-show="!isRadio()" data-ng-click="togglePlay()" data-ng-class="{cover_play: !isPlaying(), cover_pause: isPlaying()}" ></a>
					<a class="cover_plus" toggle-to-playlist="track" data-ng-class="{w100: isRadio()}"></a>
				</div>
			</div>

			<div class="composition__c" >
				<div marquee class="composition__title"><a href data-ng-href="#/projects/{{track.id}}">{{track.project || '&nbsp;'}}</a></div>
				<div marquee class="composition__title"><a href data-ng-href="#/tracks/{{track.id}}">{{track.name}}</a></div>
				<div marquee class="composition__data"><span>Track | {{track.style}} | {{track.timelengthStr}} | {{track.filesizeStr}}</span></div>
			</div>

			<sound-control></sound-control>

			<!-- TODO заменить на waveform -->
			<div data-ng-click="seekAndPlay($event, 260)" class="track_vision player_visio">
				<waveform></waveform>
			</div>
		</div>
		<div id="playlist_opener" class="playlist_opener" data-ng-click="playlist.togglePlaylist()"><span class="dot">Плейлист Избранное</span> ({{playlist.tracks.length}})</div>
		<playlist-ui></playlist-ui>
	</div>
	<!-- right small btns -->
	<div class="player_changer_right">
		<div class="player cf">
			<div class="player_changer__item brr7"><a class="player_ico" ng-click="togglePlay()" ng-class="{player_play: !isPlaying() || isRadio(), player_pause: isPlaying() && !isRadio()}">{{track.count_listen}}</a></div>
			<div class="player_changer__item brr7"><a class="player_ico player_dwnl">{{track.count_download}}</a></div>
			<div class="player_changer__item brr7"><a class="player_ico player_like">{{track.count_liked}}</a></div>
		</div>
	</div>
</div>