<div class="playlist brb22">
	<!--Template: playlistUI | Directive: playlistUI -->
	<div class="playlist_charts">
		<a class="playlist_chart">Популярные треки</a>
		<a class="playlist_chart">Лучшие треки недели</a>
		<a class="playlist_chart">Избранные</a>
	</div>

	<div class="playlist_holder">

		<div class="playlist_content">
			<ul class="playlist_list">
				<li class="playlist_item cf" data-ng-repeat="track in tracks track by track.id">
					<ins class="draggable"></ins>
					<!--TODO заменить на верный урл-->
					<img ng-src="http://cjclub.ru/_files/trackpics/{{track.id}}_35" alt="" title=""
						 class="playlist_item__cover"/>

					<div class="playlist_item__data">
						<a class="playlist_item__data__link" data-ng-href="#tracks/{{track.id}}" class="black_link">{{track.name}}</a>

						<div class="playlist_item__data__data">Track | {{track.style}} | {{track.timelengthStr}} |
							{{track.filesizeStr}} MB
						</div>
					</div>
					<div class="mini_player cf">
						<div class="mini_player_btn"
							 data-ng-click="playIdOrPause(track.id)"
							 data-ng-class="{mini_player_play: !isIdbeingPlayed(track.id), mini_player_pause: isIdbeingPlayed(track.id)}"></div>
						<div class="mini_player_btn mini_player_md" data-ng-click="down($index)"></div>
						<div class="mini_player_btn mini_player_mu" data-ng-click="up($index)"></div>
						<div class="mini_player_btn mini_player_re" data-ng-click="remove(track.id)"></div>
					</div>
				</li>
			</ul>
		</div>

		<div class="playlist_scroll"></div>
	</div>
	<div class="playlist_closer" data-ng-click="close()"><span class="dot1">Свернуть</span></div>
</div>