<div id="c">

	<!-- main section -->
	<section class="main">
		<div class="width">

			<!-- content -->
			<section class="content cf">

				<!-- right colum -->
				<section class="left_aside">

					<ul class="gray_menu" ng-if="0">
						<li class="gray_menu__item gray_menu__active"><a >Профиль</a></li>
						<li class="gray_menu__item"><a >Статистика</a></li>
						<li class="gray_menu__item"><a >Группы</a></li>
					</ul>

					<div class="gb gb_line">
						<div class="gb_in">
							<div class="gb_datas2">
								Автор:
								<a class="link_g" >{{article.author}}</a> <span class="link_g__rzd">|</span>
								<a class="link_g" href="#/news">К списку статей</a> <span class="link_g__rzd">|</span>
								<a class="link_g" >К блогу автора</a>
							</div>
							<div class="gb_data"><div class="gb_data_in">{{article.public_date}}</div></div>
						</div>

						<!-- article menu -->
						<div class="gb_menu" ng-if="0">
							<a  class="ico2 ico2_set"></a>
							<a  class="ico2 ico2_del"></a>
							<a  class="ico2 ico2_warn"></a>
						</div>
					</div>

					<!-- control center page -->
					<h1 class="page_title">{{article.subject}}</h1>

					<article class="article">{{article.maintext}}</article>

					<!-- article tags and vote -->
					<div class="gb gb_line gb_line2">
						<div class="gb_in cf">

							<div class="gb_datas2 cf">
								<div class="gb_datas_item link_grays fl">
									Тэги: <a >Новости</a> <a >музыка</a> <a >информация</a> <a >акции</a> <a >cjclub</a>
								</div>

								<div class="btns_orange fr">
									<a class="btn_orange" ><i class="ico2 ico2_star"></i></a>
									<a class="btn_orange" ><i class="ico2 ico2_tup"></i> +64</a>
									<a  class="btn_orange"><i class="ico2 ico2_tdown"></i> -3</a>
								</div>
							</div>

						</div>
					</div>

                    <div comments object-type="article" object-id="{{track.id}}"/>

					<!-- comments form -->
					<h3 class="block_title" ng-if="0">Комментарии</h3>
					<div class="wys"  ng-if="0" id="wysiwyg">
						<div class="wys_editor">
							<textarea class="wiki_editor"></textarea>
						</div>
						<div class="btns_wys">
							<input type="submit" value="Отправить (Ctrl+Enter)" class="btn_orange btn_orange_sm" />
							<em class="btns_wys_text">Важно: не оскорблять, не флудить, не спамить. Иначе — тра-та-та!</em>
						</div>
					</div>

					<!-- comments list -->
					<div id="comments" ng-if="0" class="comments">

						<!-- pager -->
						<div class="nav comments_nav">
							<a class="renew" >Обновить</a>
							<a class="act" >1</a>
							<a >2</a>
							<a >3</a>
							<a >4</a>
							<a >5</a>
							<a >6</a>
							<a >...</a>
							<a >187</a>
						</div>


						<!-- 1 -->
						<div class="com">
							<div class="com_in">
								<div class="com_img">
									<div class="com_img_img">
										<img src="./img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr green">+1</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a ><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a ><i class="ico2 ico2_c_mail"></i> <span class="link_g2 tdu">Ответить</span></a>
										<a ><i class="ico2 ico2_c_mail_pk"></i> <span class="link_g2 tdu">Ответить лчино</span></a>
										<a ><i class="ico2 ico2_c_plus"></i> <span class="link_gre tdu">В друзья</span></a>
										<a ><i class="ico2 ico2_c_minus"></i> <span class="link_red tdu">В игнор</span></a>
										<a ><i class="ico2 ico2_c_warn"></i> <span class="link_yel tdu">Пожаловаться</span></a>
									</div>
								</div>
								<div class="com_mess">Интересный трек. Приятно было его прослушать.</div>
								<div class="com_menu">
									<a  class="ico2 ico2_come_edit"></a>
									<a  class="ico2 ico2_come_del"></a>
								</div>
							</div>
						</div>

						<!-- 2 -->
						<div class="com">
							<div class="com_in">
								<div class="com_img">
									<div class="com_img_img">
										<img src="./img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr red2">-11</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a ><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a ><i class="ico2 ico2_c_plus"></i> <span class="link_gre tdu">В друзья</span></a>
										<a ><i class="ico2 ico2_c_minus"></i> <span class="link_red tdu">В игнор</span></a>
										<a ><i class="ico2 ico2_c_warn"></i> <span class="link_yel tdu">Пожаловаться</span></a>
									</div>
								</div>
								<div class="com_mess">
									<!-- cite -->
									<div class="quote">классно! оч. понравилось!)</div>
									Интересный трек. Приятно было его прослушать.
								</div>
							</div>
						</div>

						<!-- 3 -->
						<div class="com">
							<div class="com_img">
								<div class="com_img_img">
									<img src="./img/fa1.jpg" alt="" title="" />
								</div>
								<div class="com_rat">
									<div class="hd"></div>
									<div class="hu"></div>
									<div class="hr green">0</div>
								</div>
							</div>
							<div class="com_data">
								<div class="fl">
									<a ><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
								</div>
								<div class="fr">
									<a ><i class="ico2 ico2_c_mail"></i> <span class="link_g2 tdu">Ответить</span></a>
									<a ><i class="ico2 ico2_c_mail_pk"></i> <span class="link_g2 tdu">Ответить лчино</span></a>
									<a ><i class="ico2 ico2_c_plus"></i> <span class="link_gre tdu">В друзья</span></a>
									<a ><i class="ico2 ico2_c_minus"></i> <span class="link_red tdu">В игнор</span></a>
									<a ><i class="ico2 ico2_c_warn"></i> <span class="link_yel tdu">Пожаловаться</span></a>
								</div>
							</div>
							<div class="com_mess">И снова на высоте !!! Приятная жизненная волна захватывает.... :) Ощутимое полное погружение в ваше творение...
								Оч понравилось !!! без пианинки 0_o</div>
							<div class="com_menu">
								<a  class="ico2 ico2_come_edit"></a>
								<a  class="ico2 ico2_come_del"></a>
							</div>
						</div>

						<!-- 4 deleted comment closed -->
						<div class="com com_deleted">
							<div class="com_pre gray">Когда-то здесь был комментарий — <a  class="link_g com_deleted">Оригинал</a></div>
							<div class="com_in hide">
								<div class="com_img">
									<div class="com_img_img">
										<img src="./img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr red2">-11</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a ><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a ><i class="ico2 ico2_c_plus"></i> <span class="link_gre tdu">В друзья</span></a>
										<a ><i class="ico2 ico2_c_minus"></i> <span class="link_red tdu">В игнор</span></a>
										<a ><i class="ico2 ico2_c_warn"></i> <span class="link_yel tdu">Пожаловаться</span></a>
									</div>
								</div>
								<div class="com_mess">Интересный трек. Приятно было его прослушать.</div>
								<div class="com_menu">
									<a  class="link_g">Восстановить</a>
									<a  class="ico2 ico2_come_edit"></a>
								</div>
							</div>
						</div>

						<!-- 5 -->
						<div class="com">
							<div class="com_pre red2">Комментарий скрыт по причине жалобы — <a  class="link_g com_appeal">Смотреть</a></div>
							<div class="com_in hide">
								<div class="com_img">
									<div class="com_img_img">
										<img src="./img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr green">0</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a ><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a ><i class="ico2 ico2_c_mail"></i> <span class="link_g2 tdu">Ответить</span></a>
									</div>
								</div>
								<div class="com_mess">
									без пианинки 0_o
									<div class="appear">
										<div class="bold">Жалоба от: <a  class="link_g">Dj Mig</a></div>
										<em>Ненормативная лексика и оскорбления!</em>
									</div>
								</div>
								<div class="com_menu">
									<a  class="ico2 ico2_come_refresh"></a>
									<a  class="ico2 ico2_come_del"></a>
								</div>
							</div>
						</div>

						<!-- 6 deleted comment open -->
						<div class="com com_deleted_prev">
							<div class="com_pre red2">Комментарий скрыт по причине жалобы — <a  class="link_g com_deleted">Оригинал</a></div>
							<div class="com_in hide">
								<div class="com_img">
									<div class="com_img_img">
										<img src="./img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr red2">-13</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a ><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a ><i class="ico2 ico2_c_mail"></i> <span class="link_g2 tdu">Ответить</span></a>
									</div>
								</div>
								<div class="com_mess">без пианинки 0_o</div>
								<div class="com_menu">
									<a  class="link_g">Восстановить</a>
									<a  class="ico2 ico2_come_edit"></a>
								</div>
							</div>
						</div>

						<!-- 7 open appear comment open -->
						<div class="com com_appeal_prev">
							<div class="com_pre red2">Комментарий скрыт по причине жалобы — <a  class="link_g com_appeal">Скрыть</a></div>
							<div class="com_in hide">
								<div class="com_img">
									<div class="com_img_img">
										<img src="./img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr green">0</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a ><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a ><i class="ico2 ico2_c_mail_pk"></i> <span class="link_g2 tdu">Ответить лчино</span></a>
										<a ><i class="ico2 ico2_c_plus"></i> <span class="link_gre tdu">В друзья</span></a>
										<a ><i class="ico2 ico2_c_minus"></i> <span class="link_red tdu">В игнор</span></a>
										<a  class="active_link"><i class="ico2 ico2_c_warn"></i> <span class="link_yel tdu">Пожаловаться</span></a>
									</div>
								</div>
								<div class="com_mess">
									<div class="appear">
										<div class="bold">Жалоба от: <a  class="link_g">Dj Mig</a></div>
										<em>Ненормативная лексика и оскорбления!</em>
									</div>
									без пианинки 0_o вы все ****
								</div>
								<div class="com_menu">
									<a  class="ico2 ico2_come_refresh"></a>
									<a  class="ico2 ico2_come_edit"></a>
								</div>
							</div>
						</div>

						<!-- 8 with appear form -->
						<div class="com">
							<div class="com_in">
								<div class="com_img">
									<div class="com_img_img">
										<img src="./img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr green">0</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a ><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a ><i class="ico2 ico2_c_mail"></i> <span class="link_g2 tdu">Ответить</span></a>
										<a ><i class="ico2 ico2_c_mail_pk"></i> <span class="link_g2 tdu">Ответить лчино</span></a>
										<a ><i class="ico2 ico2_c_plus"></i> <span class="link_gre tdu">В друзья</span></a>
										<a ><i class="ico2 ico2_c_minus"></i> <span class="link_red tdu">В игнор</span></a>
										<a  class="active_link"><i class="ico2 ico2_c_warn"></i> <span class="link_yel tdu">Пожаловаться</span></a>
									</div>
								</div>
								<div class="com_mess">
									<div class="quote">Ненормативная лексика и оскорбления!</div>
									И снова на высоте !!! Приятная жизненная волна захватывает.... :) Ощутимое полное погружение в ваше творение...
									И снова на высоте !!! Приятная жизненная волна захватывает.... :) Ощутимое полное погружение в ваше творение...
									Оч понравилось !!!
								</div>
								<div class="com_menu">
									<a  class="ico2 ico2_come_edit"></a>
									<a  class="ico2 ico2_come_del"></a>
								</div>
							</div>
							<!-- appeal form -->
							<form class="form_appeal" action="#">
								<div class="form_appeal_title">Объясните причину жалобы:</div>
								<div class="form_appeal_area"><textarea class="f_text2 f_area2"></textarea></div>
								<input type="submit" value="Отправить (Ctrl+Enter)" class="btn_orange btn_orange_sm" />
							</form>
						</div>

						<!-- end comments -->


						<!-- pager -->
						<div class="nav comments_nav">
							<a class="renew" >Обновить</a>
							<a class="act" >1</a>
							<a >2</a>
							<a >3</a>
							<a >4</a>
							<a >5</a>
							<a >6</a>
							<a >...</a>
							<a >187</a>
						</div>
					</div>



					<!-- SIMILAR ARTICLES -->
					<h3 ng-if="0" class="block_title">Похожие статьи</h3>
					<section ng-if="0" class="articles_list">

						<!-- article -->
						<div class="gb">
							<div class="gb_in cf">

								<!-- article menu -->
								<div class="gb_menu">
									<a  class="ico2 ico2_set"></a>
									<a  class="ico2 ico2_del"></a>
									<a  class="ico2 ico2_warn"></a>
								</div>

								<!-- gray block data -->
								<div class="gb_data"><div class="gb_data_in">04 марта 2003</div></div>

								<!-- article data -->
								<div class="author">Автор: <a  class="link_gray">Megatron</a></div>

								<h3 class="col_title_s"><a  class="black_link">Dj Hiro — Memory Константинова Карина Константиновна</a></h3>
								<div class="col_text_s">Независимый цифровой лейбл основан в 2012 году, расположение лейбла - Москва.  Музыкальные предпочтения лейбла, House и поджанры (progressive, tech, deep, minimal) Дистрибьюция: Beatport и многие другие Мы принимаем Demo. У нас есть несколько стандартных правил. Пожалуйста, прочитайте их, прежде чем отправлять  нам свое демо, если вам не впервой), вы можете не читать это.</div>

								<div class="gb_tech cf">
									<a  class="link_g gb_show fl">Показать полностью</a>

									<div class="btns_orange fr">
										<a  class="btn_orange"><i class="ico2 ico2_star"></i></a>
										<a  class="btn_orange"><i class="ico2 ico2_tup"></i> 34</a>
									</div>
								</div>

								<div class="gb_datas cf">
									<div class="gb_datas_item link_grays fl">
										Тэги: <a >Новости</a> <a >музыка</a> <a >информация</a> <a >акции</a> <a >cjclub</a>
									</div>
									<div class="gb_datas_item link_grays fr">
										Раздел: <a >Новости</a> / <a >Новости музыки</a>
									</div>
								</div>

							</div>
						</div>

						<!-- article -->
						<div class="gb">
							<div class="gb_in cf">

								<!-- article menu -->
								<div class="gb_menu">
									<a  class="ico2 ico2_set"></a>
									<a  class="ico2 ico2_del"></a>
									<a  class="ico2 ico2_warn"></a>
								</div>

								<!-- gray block data -->
								<div class="gb_data"><div class="gb_data_in">14 марта 2005</div></div>

								<!-- article data -->
								<div class="author">Автор: <a  class="link_gray">Megatron 23</a></div>

								<h3 class="col_title_s"><a  class="black_link">Карина Константиновна</a></h3>
								<div class="col_text_s">Независимый цифровой лейбл основан в 2012 году, расположение лейбла - Москва.  Музыкальные предпочтения лейбла, House и поджанры (progressive, tech, deep, minimal) Дистрибьюция: Beatport и многие другие Мы принимаем Demo. У нас есть несколько стандартных правил. Пожалуйста, прочитайте их, прежде чем отправлять  нам свое демо, если вам не впервой), вы можете не читать это.</div>

								<div class="gb_tech cf">
									<a  class="link_g gb_show fl">Показать полностью</a>

									<div class="btns_orange fr">
										<a  class="btn_orange"><i class="ico2 ico2_star"></i></a>
										<a  class="btn_orange"><i class="ico2 ico2_tdown"></i> 3</a>
									</div>
								</div>

								<div class="gb_datas cf">
									<div class="gb_datas_item link_grays fl">
										Тэги: <a >Новости</a> <a >музыка</a> <a >информация</a> <a >акции</a> <a >cjclub</a>
									</div>
									<div class="gb_datas_item link_grays fr">
										Раздел: <a >Новости</a> / <a >Новости музыки</a>
									</div>
								</div>

							</div>
						</div>

						<!-- article -->
						<div class="gb">
							<div class="gb_in cf">

								<!-- article menu -->
								<div class="gb_menu">
									<a  class="ico2 ico2_set"></a>
									<a  class="ico2 ico2_del"></a>
									<a  class="ico2 ico2_warn"></a>
								</div>

								<!-- gray block data -->
								<div class="gb_data"><div class="gb_data_in">30 марта 2013</div></div>

								<!-- article data -->
								<div class="author">Автор: <a  class="link_gray">Megatron</a></div>

								<h3 class="col_title_s"><a  class="black_link">Dj Hiro — Memory Константинова Карина Константиновна</a></h3>
								<div class="col_text_s">Независимый цифровой лейбл основан в 2012 году, расположение лейбла - Москва.  Музыкальные предпочтения лейбла, House и поджанры (progressive, tech, deep, minimal) Дистрибьюция: Beatport и многие другие Мы принимаем Demo. У нас есть несколько стандартных правил. Пожалуйста, прочитайте их, прежде чем отправлять  нам свое демо, если вам не впервой), вы можете не читать это.</div>

								<div class="gb_tech cf">
									<a  class="link_g gb_show fl">Показать полностью</a>

									<div class="btns_orange fr">
										<a  class="btn_orange"><i class="ico2 ico2_star"></i></a>
										<a  class="btn_orange"><i class="ico2 ico2_tup"></i> 12</a>
									</div>
								</div>

								<div class="gb_datas cf">
									<div class="gb_datas_item link_grays fl">
										Тэги: <a >Новости</a> <a >музыка</a> <a >информация</a> <a >акции</a> <a >cjclub</a>
									</div>
									<div class="gb_datas_item link_grays fr">
										Раздел: <a >Новости</a> / <a >Новости музыки</a>
									</div>
								</div>

							</div>
						</div>



					</section>






				</section>


				<!-- ASIDE -->

				<section class="right_aside">


					<!-- aside poll block -->
					<div class="aside">
						<h3 class="aside_title_s">Опрос: Что это такое?</h3>
						<form class="poll" action="#">
							<div class="poll_item">
								<input class="poll_input" type="radio" name="r1" value="r11" id="r11" />
								<label for="r11" class="poll_label">Я знаю, но не скажу! :P</label>
								<div class="poll_line" style="width:180px;"> <!-- !!!! aside max width 180px -->
									<span class="poll_line__data">70</span>
								</div>
							</div>
							<div class="poll_item">
								<input class="poll_input" type="radio" name="r1" value="r12" id="r12" />
								<label for="r12" class="poll_label">Я не заню (</label>
								<div class="poll_line" style="width:115px;">
									<span class="poll_line__data">37</span>
								</div>
							</div>
							<div class="poll_item">
								<input class="poll_input" type="radio" name="r1" value="r13" id="r13" />
								<label for="r13" class="poll_label">Я знаю!</label>
								<div class="poll_line" style="width:145px;">
									<span class="poll_line__data">51</span>
								</div>
							</div>

							<input type="submit" value="Голосовать" class="btn_orange" />
						</form>
					</div>



					<!-- aside poll block -->
					<div class="aside">
						<h3 class="aside_title">Опрос: Что это такое?</h3>
						<form class="poll" action="#">
							<div class="poll_item">
								<input class="poll_input" type="checkbox" name="r2" value="r21" id="r21" />
								<label for="r21" class="poll_label">Я знаю, но не скажу! :P</label>
								<div class="poll_line" style="width:180px;"> <!-- !!!! in aside max width 180px -->
									<span class="poll_line__data">70</span>
								</div>
							</div>
							<div class="poll_item">
								<input class="poll_input" type="checkbox" name="r2" value="r22" id="r22" />
								<label for="r22" class="poll_label">Я не заню (</label>
								<div class="poll_line" style="width:115px;">
									<span class="poll_line__data">37</span>
								</div>
							</div>
							<div class="poll_item">
								<input class="poll_input" type="checkbox" name="r2" value="r23" id="r23" />
								<label for="r23" class="poll_label">Я знаю!</label>
								<div class="poll_line" style="width:145px;">
									<span class="poll_line__data">51</span>
								</div>
							</div>

							<input type="submit" value="Голосовать" class="btn_orange" />
						</form>
					</div>

					<!-- aside block -->
					<div class="aside">
						<h3 class="aside_title">Новости</h3>
						<ul class="aside_menu aside_menu_news">
							<li>
								<a  class="aside_menu_link">Глобальное CjClub PARTY!</a>
								Битва Сиджеев. Победителю путевка в жаркую страну!
							</li>
							<li>
								<a  class="aside_menu_link">Contours Reedition 005</a>
								Продолжается Новогодний набор на Abstract Contours.
							</li>
							<li>
								<a  class="aside_menu_link">Новое на сайте!</a>
								Система вложений и обмена файлами + новый редактор
							</li>
						</ul>
						<div class="aside_more"><a >Больше новостей</a></div>
					</div>

					<div class="aside2">
						<h3 class="aside_title">Активные пользователи</h3>
						<ul class="faces cf">
							<li class="faces_item"><a ><img src="./img/fa1.jpg" alt="" title="" /></a></li>
							<li class="faces_item"><a ><img src="./img/fa2.jpg" alt="" title="" /></a></li>
							<li class="faces_item"><a ><img src="./img/fa2.jpg" alt="" title="" /></a></li>
							<li class="faces_item"><a ><img src="./img/fa2.jpg" alt="" title="" /></a></li>
							<li class="faces_item"><a ><img src="./img/fa3.jpg" alt="" title="" /></a></li>
							<li class="faces_item"><a ><img src="./img/fa4.jpg" alt="" title="" /></a></li>
							<li class="faces_item"><a ><img src="./img/fa3.jpg" alt="" title="" /></a></li>
							<li class="faces_item"><a ><img src="./img/fa1.jpg" alt="" title="" /></a></li>
							<li class="faces_item"><a ><img src="./img/fa4.jpg" alt="" title="" /></a></li>
						</ul>
					</div>


				</section>
			</section>
		</div>

	</section>
</div>