<div id="c">

<!-- main section -->
<section class="main">
<div class="width">

<!-- content -->
<section class="cf">

<!-- right colum -->
<section class="left_aside">

<!-- best tracks  -->
<h1 class="page_title">Лучшие треки Dubstep</h1>

<div class="promo_list promo_list_onpage cf">

	<div class="promo_item">
		<div class="promo_item__name"><a title="Dante Оченьдлиннофамильный" href="#">Dante Оченьдлиннофамильный</a> <a
				class="user_stat user_stat_1" href="#"></a></div>
		<div class="promo_item__cover">
			<div class="track_image">
				<img title="" alt="" ng-src="http://placehold.it/92x91">

				<div class="track_image__controls">
					<a class="cover_play cover_pause" href="#"></a>
					<a class="cover_plus" href="#"></a>
				</div>
			</div>
		</div>
		<a title="Моя Любовь Онлайн и длинное название просто жуть какое длинное" class="promo_item__title" href="#">Моя
			Любовь Онлайн и длинное название просто жуть какое длинное</a>

		<div class="promo_item__data">Track | Experimental | 03:30 | 8.04 MB</div>
		<div class="player cf">
			<a class="player_ico player_start">126</a>
			<a class="player_ico player_dwnl">70</a>
			<a class="player_ico player_like">126</a>
			<a class="player_ico player_plus">+</a>
		</div>
	</div>

	<div class="promo_item">
		<div class="promo_item__name"><a href="#">mr.elcAt</a> <a class="user_stat user_stat_1" href="#"></a></div>
		<div class="promo_item__cover">
			<div class="track_image">
				<img title="" alt="" ng-src="http://placehold.it/92x91">

				<div class="track_image__controls">
					<a class="cover_play" href="#"></a>
					<a class="cover_plus" href="#"></a>
				</div>
			</div>
		</div>
		<a class="promo_item__title" href="#">Моя Любовь Онлайн</a>

		<div class="promo_item__data">Track | Experimental | 03:30 | 8.04 MB</div>
		<div class="player cf">
			<a class="player_ico player_start">126</a>
			<a class="player_ico player_dwnl">70</a>
			<a class="player_ico player_like">126</a>
			<a class="player_ico player_plus">+</a>
		</div>
	</div>

	<div class="promo_item">
		<div class="promo_item__name"><a href="#">mr.elcAt</a> <a class="user_stat user_stat_1" href="#"></a></div>
		<div class="promo_item__cover">
			<div class="track_image">
				<img title="" alt="" ng-src="http://placehold.it/92x91">

				<div class="track_image__controls">
					<a class="cover_play" href="#"></a>
					<a class="cover_plus" href="#"></a>
				</div>
			</div>
		</div>
		<a class="promo_item__title" href="#">Весенний снегопад</a>

		<div class="promo_item__data">Track | Experimental | 03:30 | 8.04 MB</div>
		<div class="player cf">
			<a class="player_ico player_start">126</a>
			<a class="player_ico player_dwnl">70</a>
			<a class="player_ico player_like">126</a>
			<a class="player_ico player_plus">+</a>
		</div>
	</div>

	<div class="promo_item">
		<div class="promo_item__name"><a href="#">ExperimenT One</a> <a class="user_stat user_stat_1" href="#"></a>
		</div>
		<div class="promo_item__cover">
			<div class="track_image">
				<img title="" alt="" ng-src="http://placehold.it/92x91">

				<div class="track_image__controls">
					<a class="cover_play" href="#"></a>
					<a class="cover_plus" href="#"></a>
				</div>
			</div>
		</div>
		<a class="promo_item__title" href="#">Roboteka</a>

		<div class="promo_item__data">Track | Trance | 03:30 | 8.04 MB</div>
		<div class="player cf">
			<a class="player_ico player_start">126</a>
			<a class="player_ico player_dwnl">70</a>
			<a class="player_ico player_like">126</a>
			<a class="player_ico player_plus">+</a>
		</div>
	</div>

</div>


<!-- proj catalog -->
<h1 class="page_title">Каталог проектов</h1>

<!-- tabs -->
<ul class="ads_tabs ads_tabs_sm ads_tabs_sm2 cf">
	<li class="act"><a href="#cp1">Музыкальный коллектив</a></li>
	<li><a href="#cp2">Подкаст</a></li>
	<li><a href="#cp3">Радиошоу</a></li>
	<li><a href="#cp4">Профессиональный DJ</a></li>
	<li><a href="#cp5">Группа по интересам</a></li>
	<li><a href="#cp6">Лейбл</a></li>
	<li><a href="#cp7">Конкурс</a></li>
	<li><a href="#cp8">Профессиональный DJ</a></li>
	<li><a href="#cp9">Группа по интересам</a></li>
	<li><a href="#cp10">Лейбл</a></li>
	<li><a href="#cp11">Конкурс</a></li>
</ul>

<!-- rotator -->
<section class="slider slo" carousel>
	<div class="slider_in">
		<div class="slider_holder viewport">
			<ul class="slider_line overview cf">
				<li class="slider_item">
					<img class="man_photo" ng-src="http://placehold.it/110x110" alt="" title="">

					<div class="man_text">
						<div class="man_title">
							<div class="man_name"><a href="#">DJ Artem Ivanov DJ Artem Ivanov</a> <a href="#"
							                                                                         class="user_stat user_stat_1"></a>
							</div>
							<div class="man_city">Москва</div>
						</div>
						<div class="man_desc">Один и лучших Chillout DJ, выступающих в данном направлении. Организатор в
							Москве. Постоянный гость на шоу DJS TIME на радио EnergyFM.
						</div>
					</div>
				</li>
				<li class="slider_item">
					<img class="man_photo" ng-src="http://placehold.it/110x110" alt="" title="">

					<div class="man_text">
						<div class="man_title">
							<div class="man_name"><a href="#">Senator</a> <a href="#" class="user_stat user_stat_2"></a>
							</div>
							<div class="man_city">Москва</div>
						</div>
						<div class="man_desc">Первый российский резидент на Ибице. Владелец лейбла DOTDJ. Резидент
							BACKROCK STG. Отличается яркими позитивными вставками в своих композициях.
						</div>
					</div>
				</li>
				<li class="slider_item">
					<img class="man_photo" ng-src="http://placehold.it/110x110" alt="" title="">

					<div class="man_text">
						<div class="man_title">
							<div class="man_name"><a href="#">Katya Semenova</a> <a href="#"
							                                                        class="user_stat user_stat_3"></a>
							</div>
							<div class="man_city">Москва</div>
						</div>
						<div class="man_desc">Участница легендарного проекта PAPRIKA, взорвавшего танцполы России и
							блжнего зарубежья. Пробует себя в продюссировании и стажеровке диджеев.
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="slider_arr buttons prev disable"></div>
		<div class="slider_arr buttons next"></div>
	</div>
</section>


<div class="searched_data searched_data__proj cf">
	<div class="searched_data__sort">
		<span class="searched_data__sort__title">Выборка по </span>
		<a href="#" class="search_sort">Стилю</a>
		<a href="#" class="search_sort search_sort__active">Алфавиту</a>
	</div>
</div>

<!-- abc -->
<div class="selector_lines">
	<div class="selector_line">
		<a href="#">А</a><a href="#">Б</a><a href="#">В</a><a href="#">Г</a><a href="#">Д</a><a href="#">Е</a><a
			href="#">Ж</a><a href="#">З</a><a href="#">И</a><a href="#">К</a><a href="#">Л</a><a href="#">М</a><a
			href="#">Н</a><a href="#">О</a><a href="#">П</a><a href="#">Р</a><a href="#">С</a><a href="#">Т</a><a
			href="#">У</a><a href="#">Ф</a><a href="#">Х</a><a href="#">Ц</a><a href="#">Ч</a><a href="#">Ш</a><a
			href="#">Щ</a><a href="#">Э</a><a href="#">Ю</a><a href="#">Я</a>
	</div>
	<div class="selector_line">
		<a href="#">A</a><a class="active" href="#">B</a><a href="#">C</a><a href="#">D</a><a href="#">E</a><a href="#">F</a><a
			href="#">G</a><a href="#">H</a><a href="#">I</a><a href="#">J</a><a href="#">K</a><a href="#">L</a><a
			href="#">M</a><a href="#">N</a><a href="#">O</a><a href="#">P</a><a href="#">Q</a><a href="#">R</a><a
			href="#">S</a><a href="#">T</a><a href="#">U</a><a href="#">V</a><a href="#">W</a><a href="#">X</a><a
			href="#">Y</a><a href="#">Z</a>
	</div>
	<div class="selector_line">
		<a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a
			href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">0</a>
	</div>
</div>

<!-- tags -->
<article class="b" id="tags">
	<div class="tags">
		<ul class="tags_list tags_list__selector">
			<li><a style="font-size:18px;" href="#">Andrew</a></li>
			<li><a style="font-size:14px;" href="#">Lu auriga</a></li>
			<li><a style="font-size:16px;" href="#">beatport</a></li>
			<li><a style="font-size:22px;" href="#">breakbeat</a></li>
			<li><a style="font-size:20px;" href="#">breaks</a></li>
			<li><a style="font-size:18px;" href="#">chillout</a></li>
			<li><a style="font-size:16px;" href="#">cjclub</a></li>
			<li><a style="font-size:12px;" href="#">Club</a></li>
			<li><a style="font-size:13px;" href="#">Universe</a></li>
			<li><a style="font-size:14px;" href="#">Cubase</a></li>
			<li><a style="font-size:14px;" href="#">DAW</a></li>
			<li><a style="font-size:15px;" href="#">downtempo</a></li>
			<li><a style="font-size:17px;" href="#">drum and bass</a></li>
			<li><a style="font-size:18px;" href="#">Dubstep</a></li>
			<li><a style="font-size:20px;" href="#">electronic</a></li>
			<li><a style="font-size:25px;" href="#">experimental</a></li>
			<li><a style="font-size:22px;" href="#">FL Studio</a></li>
			<li><a style="font-size:24px;" href="#">freeware</a></li>
			<li><a style="font-size:18px;" href="#">House</a></li>
			<li><a style="font-size:12px;" href="#">idm</a></li>
			<li><a style="font-size:30px;" href="#">MIDI mix</a></li>
			<li><a style="font-size:28px;" href="#">mp3</a></li>
			<li><a style="font-size:25px;" href="#">music</a></li>
			<li><a style="font-size:20px;" href="#">new</a></li>
			<li><a style="font-size:19px;" href="#">podcast</a></li>
			<li><a style="font-size:18px;" href="#">progressive house</a></li>
			<li><a style="font-size:17px;" href="#">progressive trance</a></li>
			<li><a style="font-size:16px;" href="#">radioshow</a></li>
			<li><a style="font-size:15px;" href="#">Reason</a></li>
			<li><a style="font-size:13px;" href="#">ReMarQ</a></li>
			<li><a style="font-size:14px;" href="#">Remix</a></li>
			<li><a style="font-size:18px;" href="#">rock</a></li>
			<li><a style="font-size:18px;" href="#">techno</a></li>
			<li><a style="font-size:22px;" href="#">trance</a></li>
			<li><a style="font-size:23px;" href="#">video</a></li>
			<li><a style="font-size:25px;" href="#">VST</a></li>
			<li><a style="font-size:16px;" href="#">VSTi</a></li>
			<li><a style="font-size:13px;" href="#">Youtube</a></li>
		</ul>
	</div>
</article>

<div class="b searched_tags">
	<i class="ico2 ico2_tags_toggle"
	   onclick="$('#tags').slideToggle(300); $(this).toggleClass('ico2_tags_toggle__open');"></i>
	<span class="searched_tags__title">Выбранный тэг:</span> <a class="link_g" href="#">Andrew</a>
</div>

<form class="search search_tags search_tags_full" action="#">
	<input type="submit" value="найти" class="search_btn">
	<input type="text" onblur="if(this.value == '') this.value = 'Поиск по тегам';"
	       onfocus="if(this.value=='Поиск по тегам') this.value = '';" value="Поиск по тегам" name="qtags"
	       class="search_txt">
</form>


<!-- other filters -->
<div class="oth_fields">
	<div class="cols3 cf">
		<div class="col">
			<label class="f_title">Страна</label>
			<select class="f_select w100">
				<option>Нигерия</option>
				<option>Большой оригинал</option>
			</select>
		</div>
		<div class="col">
			<label class="f_title">Город</label>
			<select class="f_select w100">
				<option>Пума-Лумп сити</option>
				<option>Trance 2</option>
				<option>Trance 3</option>
			</select>
		</div>
		<div class="col">
			<label class="f_title">Статус</label>
			<select class="f_select w100">
				<option>Участвует в Топе</option>
				<option>Вне топа</option>
				<option>Демо</option>
				<option>Пунк 1</option>
				<option>Еще один пункт</option>
			</select>
		</div>
	</div>


	<div class="cp_fields_full cf">
		<div class="ae_spec__line_half">
			<input type="checkbox" id="cprt1" name="cprt1" value="1" class="f_checkbox"> <label for="cprt1"
			                                                                                    class="ae_spec_label">Клаббер</label>
		</div>
		<div class="ae_spec__line_half">
			<input type="checkbox" id="cprt2" name="cprt1" value="1" class="f_checkbox"> <label for="cprt2"
			                                                                                    class="ae_spec_label">Слушатель</label>
		</div>
		<div class="ae_spec__line_half">
			<input type="checkbox" id="cprt3" name="cprt1" value="1" class="f_checkbox"> <label for="cprt3"
			                                                                                    class="ae_spec_label">Музыкант</label>
		</div>
		<div class="ae_spec__line_half">
			<input type="checkbox" id="cprt4" name="cprt1" value="1" class="f_checkbox"> <label for="cprt4"
			                                                                                    class="ae_spec_label">Поэт</label>
		</div>
		<div class="ae_spec__line_half">
			<input type="checkbox" id="cprt5" name="cprt1" value="1" class="f_checkbox"> <label for="cprt5"
			                                                                                    class="ae_spec_label">МС</label>
		</div>
		<div class="ae_spec__line_half">
			<input type="checkbox" id="cprt6" name="cprt1" value="1" class="f_checkbox"> <label for="cprt6"
			                                                                                    class="ae_spec_label">Промоутер</label>
		</div>
		<div class="ae_spec__line_half">
			<input type="checkbox" id="cprt7" name="cprt1" value="1" class="f_checkbox"> <label for="cprt7"
			                                                                                    class="ae_spec_label">Клубный
			фотограф</label>
		</div>
		<div class="ae_spec__line_half">
			<input type="checkbox" id="cprt8" name="cprt1" value="1" class="f_checkbox"> <label for="cprt8"
			                                                                                    class="ae_spec_label">Вокалист</label>
		</div>
		<div class="ae_spec__line_half">
			<input type="checkbox" id="cprt9" name="cprt1" value="1" class="f_checkbox"> <label for="cprt9"
			                                                                                    class="ae_spec_label">Гитарист</label>
		</div>
		<div class="clr"></div>

		<div class="mc_btns">
			<a href="#" class="btn_orange btn_orange_sm">Искать</a>
		</div>
	</div>
</div>

<!-- searched -->
<div class="searched_data searched_data__proj cf">
	<div class="searched_data__title">Найдено проектов: {{projects.length}}</div>
	<div class="searched_data__sort">
		<span class="searched_data__sort__title">Сортировать по </span>
		<a href="#" class="search_sort">Дате</a>
		<a href="#" class="search_sort">Рейтингу</a>
		<a href="#" class="search_sort search_sort__active">Алфавиту</a>
	</div>
</div>

<!-- finded proects -->
<section class="searched_proj">
	<div class="sp_i" ng-repeat="project in projects | limitTo:10">
		<img src="http://cjclub.ru/_files/avatars/{{project.id}}" width="60" height="60" class="sp_i_img">

		<h3 class="sp_i_title"><a href="#/projects/{{project.id}}" class="black_link">{{project.name}}</a></h3>

		<div class="sp_i_text" simple-html="project.infoShort"></div>
	</div>
</section>

<div class="nav center">
	<a class="act" href="#">1</a>
	<a href="#">2</a>
	<a href="#">3</a>
	<a href="#">4</a>
	<a href="#">5</a>
	<a href="#">6</a>
	<a href="#">...</a>
	<a href="#">187</a>
</div>

</section>


<!-- ASIDE -->

<section class="right_aside">

	<!-- aside block -->
	<news-block></news-block>

	<users-online></users-online>
</section>
</section>
</div>

</section>
</div>