<div id="c">

	<!-- main section -->
	<section class="main">
		<div class="width">

			<!-- content -->
			<section class="content cf">

				<!-- center section -->
				<section class="cont_c">

					<!-- menu -->
					<ul class="gray_menu">
						<li class="gray_menu__item"><a href="#/projects/{{track.projectId}}">Профиль</a></li>
						<li class="gray_menu__item gray_menu__active"><a href="#/projects/{{track.projectId}}/tracks">Треки</a></li>
						<li class="gray_menu__item"><a href="#/projects/{{track.projectId}}/albums">Альбомы</a></li>
						<li class="gray_menu__item"><a href="#/projects/{{track.projectId}}/blogs">Блоги</a></li>
						<li class="gray_menu__item"><a ng-if="0">Группы</a></li>
						<li class="gray_menu__item"><a ng-if="0">Подписчики</a></li>
					</ul>

					<div class="vb">
						<div class="tr_data">
							<a title="{{track.project}}" class="gbt_gr gbt_gr2">{{track.project}}</a>
							<span ng-if="track.album_id != null">
								<span class="ccp__rzd">|</span>
								Альбом: <a title="{{track.album}}" class="gbt_gr gbt_gr2">{{track.album}}</a>
							</span>

							<span ng-if="track.top_id != null">
								<span class="ccp__rzd">|</span>В топе: <a href="#/tops/{{track.top_id}}">{{track.top_id}}</a>
							</span>
							<span ng-if="track.topincrement > 0" class="ico_rat ico_rat_max">{{track.topincrement}}</span>
							<span ng-if="track.topincrement < 0" class="ico_rat ico_rat_min">{{track.topincrement}}</span>
						</div>

						<div class="gb_data"><div class="gb_data_in">Опубликован: {{track.public_date}}</div></div>

						<div class="tr_head cf">
							<div class="ico_bcs fr">
								<a class="ico_bc ico_bc1"></a>
								<!--a class="ico_bc ico_bc2"></a-->
								<a class="ico_bc ico_bc3"></a>
								<a class="ico_bc ico_bc4"></a>
							</div>

							<div class="tr_name">
								<div class="tr_controls">
									<div class="gbt_play__ico" ng-class="{gbt_pause__ico: isPlaying()}" ng-click="togglePlay()"></div>
									<div class="gbt_down__ico"></div>
								</div>
								<div class="tr_name__text">
									{{track.name}}
								</div>
								<i class="ico_top100" ng-if="track.placeoverall > 0 && track.placeoverall < 100"></i>
								<div class="cb"></div>
							</div>
						</div>

						<div ng-click="seekAndPlay($event)" class="track_vision full_track_vision" style="background:url(views/main/img/track_pic_big.png) repeat-x 0 0;">
							<div style="width: 970px; height: 140px; position:absolute;background:#6b6b6c url(http://www.cjclub.ru/_files/waves/{{track.id}}.png) no-repeat 0 0">
								<div class="track_vision_in" ng-if="0" style="background:#444444 url(http://www.cjclub.ru/_files/waves/{{track.id}}.png) no-repeat 0 0; width:75%;"></div>
								<div class="track_vision_in" style="background:#bd612b url(http://www.cjclub.ru/_files/waves/{{track.id}}.png) no-repeat 0 0; width:{{playInfo.playprogress}}%;">
									<span ng-if="0" class="tr_time tr_pos_curr">14:48</span>
								</div>
							</div>

							<span class="tr_time tr_full_len">{{track.timelengthStr}}</span>

							<ul class="tr_coms">
								<li ng-repeat="comment in commentsOnTrack" class="tr_com" style="left:20%">
									<img class="tr_com__face" src="views/main/img/ava.jpg" alt="" title="" />
									<div class="tr_com__comm" >
										<a class="tr_com__link">Nonameuser123123123123123123123</a>
										<span class="tr_com__text">Это очень крутой момент!!!</span>
									</div>
								</li>
							</ul>
						</div>
						<form class="cot" action="#" id="cot">
							<img class="cot_ava" src="views/main/img/ava1.png" alt="" title="" />
							<input type="text" value="" class="cot_text" name="cot" id="cot_text" onfocus="$('#cot').addClass('cot_focus');" onblur="$('#cot').removeClass('cot_focus');" />
						</form>

						<div class="tr_btns cf">
							<div class="col_btns fl">
								<a class="btn_orange"><i class="ico2 ico2_like"></i> Нравится</a>
								<a class="btn_orange"><i class="ico2 ico2_star"></i> В избранное</a>
								<a class="btn_orange"><i class="ico2 ico2_topl"></i> В плейлист</a>
								<a class="btn_orange"><i class="ico2 ico2_share"></i> Поделиться</a>
							</div>

							<div class="player tr_data fr cf">
								<a class="ico_mic"></a>
								<span class="ccp__rzd">|</span>
								<a class="player_ico player_pit">PiT {{track.pitStr}}</a>
								<span class="ccp__rzd">|</span>
								<span class="player_ico player_size">{{track.filesizeStr}}</span>
								<span class="ccp__rzd">|</span>
								<span class="player_ico player_start">{{track.count_listen}}</span>
								<span class="ccp__rzd">|</span>
								<span class="player_ico player_dwnl">{{track.count_download}}</span>
								<span class="ccp__rzd">|</span>
								<span class="player_ico player_like">{{track.count_liked}}</span>
							</div>
						</div>
					</div>


					<div class="tr_buy" ng-if="0">
						Купить трек:
						<a class="tr_buy__link"><img src="views/main/img/tr_buy__img.jpg" alt="" title="" /></a>
						<a class="tr_buy__link"><img src="views/main/img/tr_buy__img.jpg" alt="" title="" /></a>
						<a class="tr_buy__link"><img src="views/main/img/tr_buy__img.jpg" alt="" title="" /></a>
						<a class="tr_buy__link"><img src="views/main/img/tr_buy__img.jpg" alt="" title="" /></a>
					</div>
				</section>


				<!-- left side  -->

				<section class="left_side_s track-left">

					<div class="aside2 center">
						<div class="tr_cover"><img src="http://www.cjclub.ru/_files/trackpics/{{track.id}}_55" alt="" title="" /></div>
						<a class="rights_link"><i class="ico2 ico2_rights"></i> <span class="tdu">Нарушение авторских прав!</span></a>
					</div>

					<div class="aside2" ng-if="visitors.length">
						<h3 class="aside_title">Тут побывали</h3>
						<ul class="faces cf">
							<li ng-repeat="user in visitors" class="faces_item"><a href="#"><img src="http://cjclub.ru/_files/avatars/{{user.id}}_68" alt="" title="" /></a></li>
						</ul>
					</div>


				</section>

				<!-- right side  -->
				<section class="right_side_s">

					<section class="tr_side_r cf">

						<div class="tr_aside">
							<div class="tr_likes" ng-if="likers.length">
								<h3 class="block_title block_title_nm">Трек понравился:</h3>
								<ul class="fa_tabs tabs cf">
									<li class="fa_tab fa_tab__active tab" data-rel="tab0"><span class="user_stat user_stat_1"></span> 34</li> <!-- fa_tab__active -->
									<li class="fa_tab tab" data-rel="tab1"><span class="user_stat user_stat_2"></span> 2</li>
									<li class="fa_tab tab" data-rel="tab2"><span class="user_stat user_stat_3"></span> 4</li>
									<li class="fa_tab tab" data-rel="tab3"><span class="user_stat user_stat_4"></span> 3</li>
								</ul>
								<div class="tab_c">
									<div id="tab0" class="tab_cont"> <!-- first tab content -->
										<div class="faces_sm cf">
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser1111111111111111111</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser222222222222222222222</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3333333333333333</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser4444444444444444444444</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser666666666666666666666666666</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser100500++++++++++++++++++++++</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>

											<div class="hide" id="more_faces"> <!-- more hidden elements -->
												<span class="face_sm">
													<img src="views/main/img/face_sm.png" alt="" title="" />
													<span class="face_sm__desc">
														<img src="views/main/img/face_sm65.png" alt="" title="" />
														<dl class="face_sm__dl">
															<dt>Имя:</dt>
															<dd>Новый ряд</dd>
															<dt>Статус:</dt>
															<dd>Expert</dd>
															<dt>Оценил:</dt>
															<dd>11.03.2013 в 14:40</dd>
														</dl>
													</span>
												</span>
												<span class="face_sm">
													<img src="views/main/img/face_sm.png" alt="" title="" />
													<span class="face_sm__desc">
														<img src="views/main/img/face_sm65.png" alt="" title="" />
														<dl class="face_sm__dl">
															<dt>Имя:</dt>
															<dd>Nonameuser3</dd>
															<dt>Статус:</dt>
															<dd>Expert</dd>
															<dt>Оценил:</dt>
															<dd>11.03.2013 в 14:40</dd>
														</dl>
													</span>
												</span>
												<span class="face_sm">
													<img src="views/main/img/face_sm.png" alt="" title="" />
													<span class="face_sm__desc">
														<img src="views/main/img/face_sm65.png" alt="" title="" />
														<dl class="face_sm__dl">
															<dt>Имя:</dt>
															<dd>Nonameuser3</dd>
															<dt>Статус:</dt>
															<dd>Expert</dd>
															<dt>Оценил:</dt>
															<dd>11.03.2013 в 14:40</dd>
														</dl>
													</span>
												</span>
												<span class="face_sm">
													<img src="views/main/img/face_sm.png" alt="" title="" />
													<span class="face_sm__desc">
														<img src="views/main/img/face_sm65.png" alt="" title="" />
														<dl class="face_sm__dl">
															<dt>Имя:</dt>
															<dd>Nonameuser3</dd>
															<dt>Статус:</dt>
															<dd>Expert</dd>
															<dt>Оценил:</dt>
															<dd>11.03.2013 в 14:40</dd>
														</dl>
													</span>
												</span>
											</div>

										</div>

										<div class="show_more"><a href="#more_faces" class="show_link green2">Показать всех</a></div>
									</div>
									<!-- end tab 0 -->
									<div id="tab1" class="tab_cont hide">
										<div class="faces_sm cf">
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
										</div>
									</div>
									<!-- end tab 1 -->
									<div id="tab2" class="tab_cont hide">
										<div class="faces_sm cf">
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
										</div>
									</div>
									<!-- end tab 2 -->
									<div id="tab3" class="tab_cont hide">
										<div class="faces_sm cf">
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
											<span class="face_sm">
												<img src="views/main/img/face_sm.png" alt="" title="" />
												<span class="face_sm__desc">
													<img src="views/main/img/face_sm65.png" alt="" title="" />
													<dl class="face_sm__dl">
														<dt>Имя:</dt>
														<dd>Nonameuser3</dd>
														<dt>Статус:</dt>
														<dd>Expert</dd>
														<dt>Оценил:</dt>
														<dd>11.03.2013 в 14:40</dd>
													</dl>
												</span>
											</span>
										</div>
									</div>
									<!-- end tab 3 -->
								</div>
								<!-- end tabs content -->
							</div>
						</div>

						<div class="tr_center">
							<ul class="ae_tags">
								<li class="ae_tag">Rebirth</li>
								<li class="ae_tag">Music</li>
								<li class="ae_tag ae_tag__active">Discover</li>
								<li class="ae_tag">Electro</li>
								<li class="ae_tag">Step</li>
								<li class="ae_tag">Trance</li>
								<li class="ae_tag">Vocal</li>
							</ul>

							<div class="tr_desc">{{track.descr}}</div>

							<!-- code of track -->
							<div class="tr_bnn">
								<div class="tr_bnn__bl">
									<a ng-click="showBannerCode()" class="dashed tr_bnn__link show_link">Получить код баннера трека</a>
								</div>

								<div class="tr_bnn_content" ng-class="{hide: !isBannerCodeShown}" id="tr_bnn">
									<a class="tr_bnn__pr">
										<b>{{track.projectName}}</b> <br/>
										{{track.name}}
									</a>

									<div class="tr_code">
										<h3 class="f_title">HTML-код для вставки</h3>
										<textarea rows="2" size="2" class="tr_code__area" onfocus="this.select();"><a href="http://www.cjclub.ru/tracks/{{track.id}}"><img src="http://www.cjclub.ru/skins/cjclub2/images/banners/banner_{{track.id}}.jpg" alt="CjClub.ru: {{track.projectName}} - {{track.name}}"/></a></textarea>
									</div>

									<div class="tr_code">
										<h3 class="f_title">BB-код для вставки</h3>
										<textarea rows="2" class="tr_code__area tr_code__area2" onfocus="this.select();">[url="http://www.cjclub.ru/tracks/{{track.id}}"][img]http://www.cjclub.ru/skins/cjclub2/images/banners/banner_{{track.id}}.jpg [/img][/url] </textarea>
									</div>

								</div>
							</div>


						</div>

					</section>



					<!-- comments form -->
					<h3 ng-if="0" class="block_title block_title_nm">Комментарии</h3>
					<div ng-if="0" class="wys" id="wysiwyg">
						<div class="wys_editor">
							<textarea class="wiki_editor"></textarea>
						</div>
						<div class="btns_wys">
							<input type="submit" value="Отправить (Ctrl+Enter)" class="btn_orange btn_orange_sm" />
							<em class="btns_wys_text">Важно: не оскорблять, не флудить, не спамить. Иначе — тра-та-та!</em>
						</div>
					</div>

					<!-- comments list -->
					<div  ng-if="0" id="comments" class="comments">

						<!-- pager -->
						<div class="nav comments_nav">
							<a class="renew" href="#">Обновить</a>
							<a class="act" href="#">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">6</a>
							<a href="#">...</a>
							<a href="#">187</a>
						</div>


						<!-- 1 -->
						<div class="com">
							<div class="com_in">
								<div class="com_img">
									<div class="com_img_img">
										<img src="views/main/img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr green">+1</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a href="#"><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a href="#"><i class="ico2 ico2_c_mail"></i> <span class="link_g2 tdu">Ответить</span></a>
										<a href="#"><i class="ico2 ico2_c_mail_pk"></i> <span class="link_g2 tdu">Ответить лчино</span></a>
										<a href="#"><i class="ico2 ico2_c_plus"></i> <span class="link_gre tdu">В друзья</span></a>
										<a href="#"><i class="ico2 ico2_c_minus"></i> <span class="link_red tdu">В игнор</span></a>
										<a href="#"><i class="ico2 ico2_c_warn"></i> <span class="link_yel tdu">Пожаловаться</span></a>
									</div>
								</div>
								<div class="com_mess">Интересный трек. Приятно было его прослушать.</div>
								<div class="com_menu">
									<a class="ico2 ico2_come_edit"></a>
									<a class="ico2 ico2_come_del"></a>
								</div>
							</div>
						</div>

						<!-- 2 -->
						<div class="com">
							<div class="com_in">
								<div class="com_img">
									<div class="com_img_img">
										<img src="views/main/img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr red2">-11</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a href="#"><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a href="#"><i class="ico2 ico2_c_plus"></i> <span class="link_gre tdu">В друзья</span></a>
										<a href="#"><i class="ico2 ico2_c_minus"></i> <span class="link_red tdu">В игнор</span></a>
										<a href="#"><i class="ico2 ico2_c_warn"></i> <span class="link_yel tdu">Пожаловаться</span></a>
									</div>
								</div>
								<div class="com_mess">
									<!-- cite -->
									<div class="quote">классно! оч. понравилось!)</div>
									Интересный трек. Приятно было его прослушать.
								</div>
							</div>
						</div>

						<!-- 3 -->
						<div class="com">
							<div class="com_img">
								<div class="com_img_img">
									<img src="views/main/img/fa1.jpg" alt="" title="" />
								</div>
								<div class="com_rat">
									<div class="hd"></div>
									<div class="hu"></div>
									<div class="hr green">0</div>
								</div>
							</div>
							<div class="com_data">
								<div class="fl">
									<a href="#"><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
								</div>
								<div class="fr">
									<a href="#"><i class="ico2 ico2_c_mail"></i> <span class="link_g2 tdu">Ответить</span></a>
									<a href="#"><i class="ico2 ico2_c_mail_pk"></i> <span class="link_g2 tdu">Ответить лчино</span></a>
									<a href="#"><i class="ico2 ico2_c_plus"></i> <span class="link_gre tdu">В друзья</span></a>
									<a href="#"><i class="ico2 ico2_c_minus"></i> <span class="link_red tdu">В игнор</span></a>
									<a href="#"><i class="ico2 ico2_c_warn"></i> <span class="link_yel tdu">Пожаловаться</span></a>
								</div>
							</div>
							<div class="com_mess">И снова на высоте !!! Приятная жизненная волна захватывает.... :) Ощутимое полное погружение в ваше творение...
								Оч понравилось !!! без пианинки 0_o</div>
							<div class="com_menu">
								<a class="ico2 ico2_come_edit"></a>
								<a class="ico2 ico2_come_del"></a>
							</div>
						</div>

						<!-- 4 deleted comment closed -->
						<div class="com com_deleted">
							<div class="com_pre gray">Когда-то здесь был комментарий — <a class="link_g com_deleted">Оригинал</a></div>
							<div class="com_in hide">
								<div class="com_img">
									<div class="com_img_img">
										<img src="views/main/img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr red2">-11</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a href="#"><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a href="#"><i class="ico2 ico2_c_plus"></i> <span class="link_gre tdu">В друзья</span></a>
										<a href="#"><i class="ico2 ico2_c_minus"></i> <span class="link_red tdu">В игнор</span></a>
										<a href="#"><i class="ico2 ico2_c_warn"></i> <span class="link_yel tdu">Пожаловаться</span></a>
									</div>
								</div>
								<div class="com_mess">Интересный трек. Приятно было его прослушать.</div>
								<div class="com_menu">
									<a class="link_g">Восстановить</a>
									<a class="ico2 ico2_come_edit"></a>
								</div>
							</div>
						</div>

						<!-- 5 -->
						<div class="com">
							<div class="com_pre red2">Комментарий скрыт по причине жалобы — <a class="link_g com_appeal">Смотреть</a></div>
							<div class="com_in hide">
								<div class="com_img">
									<div class="com_img_img">
										<img src="views/main/img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr green">0</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a href="#"><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a href="#"><i class="ico2 ico2_c_mail"></i> <span class="link_g2 tdu">Ответить</span></a>
									</div>
								</div>
								<div class="com_mess">
									без пианинки 0_o
									<div class="appear">
										<div class="bold">Жалоба от: <a class="link_g">Dj Mig</a></div>
										<em>Ненормативная лексика и оскорбления!</em>
									</div>
								</div>
								<div class="com_menu">
									<a class="ico2 ico2_come_refresh"></a>
									<a class="ico2 ico2_come_del"></a>
								</div>
							</div>
						</div>

						<!-- 6 deleted comment open -->
						<div class="com com_deleted_prev">
							<div class="com_pre red2">Комментарий скрыт по причине жалобы — <a class="link_g com_deleted">Оригинал</a></div>
							<div class="com_in hide">
								<div class="com_img">
									<div class="com_img_img">
										<img src="views/main/img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr red2">-13</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a href="#"><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a href="#"><i class="ico2 ico2_c_mail"></i> <span class="link_g2 tdu">Ответить</span></a>
									</div>
								</div>
								<div class="com_mess">без пианинки 0_o</div>
								<div class="com_menu">
									<a class="link_g">Восстановить</a>
									<a class="ico2 ico2_come_edit"></a>
								</div>
							</div>
						</div>

						<!-- 7 open appear comment open -->
						<div class="com com_appeal_prev">
							<div class="com_pre red2">Комментарий скрыт по причине жалобы — <a class="link_g com_appeal">Скрыть</a></div>
							<div class="com_in hide">
								<div class="com_img">
									<div class="com_img_img">
										<img src="views/main/img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr green">0</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a href="#"><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a href="#"><i class="ico2 ico2_c_mail_pk"></i> <span class="link_g2 tdu">Ответить лчино</span></a>
										<a href="#"><i class="ico2 ico2_c_plus"></i> <span class="link_gre tdu">В друзья</span></a>
										<a href="#"><i class="ico2 ico2_c_minus"></i> <span class="link_red tdu">В игнор</span></a>
										<a class="active_link"><i class="ico2 ico2_c_warn"></i> <span class="link_yel tdu">Пожаловаться</span></a>
									</div>
								</div>
								<div class="com_mess">
									<div class="appear">
										<div class="bold">Жалоба от: <a class="link_g">Dj Mig</a></div>
										<em>Ненормативная лексика и оскорбления!</em>
									</div>
									без пианинки 0_o вы все ****
								</div>
								<div class="com_menu">
									<a class="ico2 ico2_come_refresh"></a>
									<a class="ico2 ico2_come_edit"></a>
								</div>
							</div>
						</div>

						<!-- 8 with appear form -->
						<div class="com">
							<div class="com_in">
								<div class="com_img">
									<div class="com_img_img">
										<img src="views/main/img/fa1.jpg" alt="" title="" />
									</div>
									<div class="com_rat">
										<div class="hd"></div>
										<div class="hu"></div>
										<div class="hr green">0</div>
									</div>
								</div>
								<div class="com_data">
									<div class="fl">
										<a href="#"><span class="link_g tdu">Milky</span></a> — 24.05.2011 14:56
									</div>
									<div class="fr">
										<a href="#"><i class="ico2 ico2_c_mail"></i> <span class="link_g2 tdu">Ответить</span></a>
										<a href="#"><i class="ico2 ico2_c_mail_pk"></i> <span class="link_g2 tdu">Ответить лчино</span></a>
										<a href="#"><i class="ico2 ico2_c_plus"></i> <span class="link_gre tdu">В друзья</span></a>
										<a href="#"><i class="ico2 ico2_c_minus"></i> <span class="link_red tdu">В игнор</span></a>
										<a class="active_link"><i class="ico2 ico2_c_warn"></i> <span class="link_yel tdu">Пожаловаться</span></a>
									</div>
								</div>
								<div class="com_mess">
									<div class="quote">Ненормативная лексика и оскорбления!</div>
									И снова на высоте !!! Приятная жизненная волна захватывает.... :) Ощутимое полное погружение в ваше творение...
									И снова на высоте !!! Приятная жизненная волна захватывает.... :) Ощутимое полное погружение в ваше творение...
									Оч понравилось !!!
								</div>
								<div class="com_menu">
									<a class="ico2 ico2_come_edit"></a>
									<a class="ico2 ico2_come_del"></a>
								</div>
							</div>
							<!-- appeal form -->
							<form class="form_appeal" action="#">
								<div class="form_appeal_title">Объясните причину жалобы:</div>
								<div class="form_appeal_area"><textarea class="f_text2 f_area2"></textarea></div>
								<input type="submit" value="Отправить (Ctrl+Enter)" class="btn_orange btn_orange_sm" />
							</form>
						</div>

						<!-- end comments -->


						<!-- pager -->
						<div class="nav comments_nav">
							<a class="renew" href="#">Обновить</a>
							<a class="act" href="#">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#">5</a>
							<a href="#">6</a>
							<a href="#">...</a>
							<a href="#">187</a>
						</div>
					</div>

				</section>


			</section>
		</div>

	</section>
</div>