<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.done {color: green;}
	</style>
</head>
<body>
<ul>
	<li><a class="done" href="tracks">выдача треков</a></li>
	<li><a class="done" href="projects">выдача проектов</a></li>
	<li><a class="done" href="projects/2">страница проекта</a></li>
	<li><a href="users">выдача юзеров</a></li>
	<li><a class="done" href="projects/2/albums">выдача альбомов проекта</a></li>
	<li><a class="done" href="albums/10">выдача альбома</a></li>
	<li><a class="done" href="projects/2/tracks">выдача всех треков проекта</a></li>
	<li><a class="done" href="tracks/1">выдача трека</a></li>
	<li><a class="done" href="projects/2/albums/10">выдача информации и треков альбома</a></li>
	<li><a class="done" href="top/1">треки топа</a></li>
</ul>

</body>
</html>