<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title></title>
	<style>
		.done {color: green;}
	</style>
</head>
<body>
<h1>треки, альбомы, стили</h1>
<ul>
	<li><a href="tracks">выдача треков</a></li>
	<li><a href="tracks?id=1,2,3">выдача указанных треков</a></li>
	<li><a href="tracks?sort=pit&time=2week">сортировки и фильтры для треков</a></li>
	<li><a href="tracks?style=1">выдача треков по заданному стилю(может быть массив)</a></li>
	<li><a href="tracks?date=2week">выдача треков за последние 2 недели</a></li>
	<li><a href="tracks?sort=pit">выдача треков с сортировкой по рейтингу</a></li>
	<li><a href="tracks?sort=date">выдача треков с сортировкой по дате</a></li>
	<li><a href="projects/2/albums">выдача альбомов проекта</a></li>
	<li><a href="albums/10">выдача альбома</a></li>
	<li><a href="projects/2/tracks">выдача всех треков проекта</a></li>
	<li><a href="tracks/1">выдача трека</a></li>
	<li><a href="projects/2/albums/10">выдача информации и треков альбома</a></li>
	<li><a href="top/1">треки топа</a></li>
	<li><a href="styles">все стили</a></li>
	<li><a href="radio/0">Информация о Hi радиоканале</a></li>
	<li><a href="radio/1">Информация о Low радиоканале</a></li>
</ul>

<h1>плейлисты</h1>
<ul>
	<li><a href="playlists/list?userId=1">получение плейлистов юзера</a></li>
	<li><a href="playlists/tracks/list?listId=1&fullInfo=false">получение треков плейлиста</a></li>
</ul>

<h1>пользователи и проекты</h1>
<ul>
	<li><a href="users">выдача юзеров</a></li>
	<li><a href="projects">выдача проектов</a></li>
	<li><a href="projects/2">страница проекта</a></li>
</ul>
<h1>статьи и блоги</h1>
<ul>
	<li><a href="blogs">выдача статей/блогов</a></li>
	<li><a href="blogs?authorId=1">выдача статей/блогов заданного автора</a></li>
	<li><a href="blogs?tags_cached=композитор">выдача статей/блогов по заданной метке</a></li>
	<li><a href="blogs?tags_admin=1027">выдача статей/блогов по заданному разделу сайта(id тега)</a></li>
	<li><a href="dev/post/blogs/add?controller=BlogsCtrl/addPost">добавление статьи/блога(POST запрос с параметром data)</a></li>
	<li><a href="blogs/7506">выдача статьи/блога</a></li>
</ul>

<h1>комментарии</h1>
<ul>
	<li><a href="comments/track/64503">Комментарии к треку</a></li>
	<li><a href="comments/article/714">Комментарии к статье</a></li>
	<li><a href="comments/photoalbumfile/2996">Комментарии к файлу в фотоальбоме</a></li>
    <li><a href="dev/post/comments/track/64503?controller=CommentsCtrl/create">Добавление коммента</a></li>
</ul>

</body>
</html>
